#header{
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    padding: 20px;
    font-family:Arial, sans-serif;
}

.main-page{
    height: 100vh;
    background-image: url("/images/header.jpg");
}

h1, h2{
    font-weight: bold;
}

.container-md{
    max-width: 800px;
}

#top-bar{
    padding-top: 20px;
}

#search-field::placeholder {
    color: white;
}

#logo{
    justify-self: center;
    align-self: center;
}

#top-bar-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 15px;
    border-bottom: 1px solid white;
}

#search-field{
    background-color: transparent;
    border:none;
    font-size: 10px;
}

#top-bar-btns{
    justify-self: end;
    align-self: center;
}

.dropdown{
    align-self: center;
    justify-self: end;
}

.btn-sm::after{
    /* display: none; */
    /* content: none; */
    color: orange;
}

.btn-sm,
.dropdown-toggle{
    background-color: orange;
    border: none;
}

.btn-sm:hover{
    background-color: white;
    color: black;
}

.dropdown-item{
    color: white;
    background-color: orange;
}
.dropdown-menu{
    color: black;
    background-color: orange;
}
#dropdown-item-1:active,
#dropdown-item-2:active{
    background-color: white;
    color: black;
}



/* .btn-contact,
.btn-destinations{
    font-size: 15px;
    border-radius: 4px;
    background-color: orange;
    border: none;
    color:black;
    color: white;
}

.btn-contact:hover,
.btn-destinations:hover{
    background-color: white;
    color: black;   
}
#btn-boot:active{
    background-color: orange;
}
.btn-contact:active,
.btn-destinations:active{
    background-color: orange;
}   */

#book form {
    display: grid;
    grid-template-areas:
        "destination destination destination"
        "from to guests"
        "submit submit submit";
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-auto-flow: column;
    gap: 10px;
}

#book button {
    border-radius: 100px;
    margin-top: 1.5rem;
}

#book form .destination-select {
    grid-area: destination;
}

#book form .from {
    grid-area: from;
}

#book form .to {
    grid-area: to;
}

#book form .guests {
    grid-area: guests;
}

#book form .submit {
    grid-area: submit;
}

#book form .submit button {
    width: 100%;
}

/* .btn-group-vertical .btn-destinations{
    border-bottom:inset
}

.btn-group-horizontal .btn-destinations{
    border-right:inset
} */

/* 
@media screen and (max-width: 767px) {
    .btn-group-horizontal{
        display:none
    }
} */
@media screen and (min-width: 768px) {
    #book form {
    grid-template-areas:
        "destination from to guests submit";
    }
    #top-bar-btns{
    justify-self: end;
    align-self: center;
    }
    .btn-group-vertical{
        display:none;
        
    }
}
