#header{
  background-image: url("/images/paris-header.jpg");
  background-size: cover;
}

h2{
    color: white
}

a{
  text-decoration: none;
  color: #333;
}

.destination-info {
  text-align: center;
  padding: 20px;
  padding-top: 100px;
}

.destination-info img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.destination-info  p {
  margin-bottom: 10px;
  color:white;
}

.booking-form {
  margin-top: 30px;
  padding: 20px;
  text-align: center;
}

.booking-form h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.booking-form form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

h2{
  color: white
}

.picture-container {
  display: flex;
  justify-content: center;
}


#btn-container{
  margin-top: 30px;
}

#btn-back-to-gallery:active,
#btn-homepage:active{
  background-color: white;
}

.btn-back-to-gallery,
.btn-homepage{
    font-size: 15px;
    border-radius: 4px;
    background-color: orange;
    border: none;
    color:white;
    padding: 10px;
    margin: 5px;
}


.btn-back-to-gallery:hover,
.btn-homepage:hover{
    background-color: white;
    color: black;
}


.btn-back-to-gallery:active,
.btn-homepage:active{
    background-color: orange;
}  

.individual-booking-form{
  display: grid;
  grid-template-columns: 1fr;
}

#individual-book form {
  display: grid;
  grid-template-areas:
      "individual-from individual-to individual-guests"
      "individual-submit individual-submit individual-submit";
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-auto-flow: column;
  gap: 10px;
}

#individual-book button {
  border-radius: 100px;
  margin-top: 30px;
}

#individual-book-field-guests{
  width: 100%;
}

#individual-book form input {
  border-radius: 5px;
  border:none;
}

#individual-book form .individual-from {
  grid-area: individual-from;
}

#individual-book form .individual-to {
  grid-area: individual-to;
}

#individual-book form .individual-guests {
  grid-area: individual-guests;
}

#individual-book form .individual-submit {
  grid-area: individual-submit;
}

#individual-book form .individual-submit button {
  width: 100%;
}


.destination-info img{
  border-radius: 3px;
}

.container-md{
  max-width: 800px;
}

.card{
  background-color: rgba(12, 12, 12, 0.829);
}

@media screen and (min-width: 767px) {
  /* .booking-form form {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .booking-form input{
    width: 100%;
  } */
  #individual-book form {
    grid-template-areas:
        "individual-from individual-to individual-guests individual-submit";
    }
  .picture-container {
    display: flex;
    justify-content: space-between;
    
  }
}
@media screen and (max-width: 767px) {
  .second-card{
    display: none;
  } 
  /* #btn-container{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
  }
  #btn-container a{
    width: 40%;
    justify-self: center;
  } */
  }

